.back{
	
	background-image: url("../images/123.jpg");
}
.col-lg-12{
	
	
	
}
.head{
	
	font-size:60px;6
}

.what{
	
	font-size:30px;
}

.IF{
	font-size:24px;
}
.edit1{
	
	
}

.container{
	
	
	
}
.we{
	
	font-size:40px;
}
.col-lg-10{
	
	background-image: url("../images/1234.jpg");
	
}
.next{
	
	font-size:30px;
}
.col-lg-9{
	background-image: url("../images/12345.jpg");
}